body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label,
input,
select,
textarea {
  display: block;
}

input,
select,
textarea {
  margin-bottom: 20px;
}

button {
  margin-bottom: 40px;
}
